*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#667eea,#764ba2);

}

.chat-container{

width:420px;

height:700px;

background:white;

border-radius:20px;

overflow:hidden;

display:flex;

flex-direction:column;

box-shadow:0 20px 60px rgba(0,0,0,.3);

}

.chat-header{

height:90px;

background:#4f46e5;

display:flex;

align-items:center;

padding:20px;

color:white;

}

.chat-header img{

width:55px;

height:55px;

margin-right:15px;

border-radius:50%;

background:white;

padding:5px;

}

.chat-header h2{

font-size:22px;

font-weight:600;

}

.chat-header p{

font-size:13px;

opacity:.8;

}

.chat-body{

flex:1;

padding:20px;

overflow-y:auto;

background:#f5f7fb;

}

.message{

display:flex;

margin-bottom:20px;

animation:fade .3s ease;

}

.message.user{

justify-content:flex-end;

}

.message.bot{

justify-content:flex-start;

}

.bubble{

max-width:75%;

padding:14px 18px;

border-radius:18px;

position:relative;

font-size:15px;

line-height:24px;

}

.user .bubble{

background:#4f46e5;

color:white;

border-bottom-right-radius:5px;

}

.bot .bubble{

background:white;

border-bottom-left-radius:5px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.bubble span{

display:block;

margin-top:8px;

font-size:10px;

opacity:.6;

text-align:right;

}

.chat-footer{

display:flex;

padding:15px;

background:white;

border-top:1px solid #ddd;

}

.chat-footer input{

flex:1;

padding:15px;

border:none;

background:#f2f2f2;

border-radius:30px;

outline:none;

font-size:15px;

}

.chat-footer button{

margin-left:12px;

width:55px;

border:none;

border-radius:50%;

background:#4f46e5;

color:white;

font-size:20px;

cursor:pointer;

transition:.3s;

}

.chat-footer button:hover{

transform:scale(1.08);

background:#372fcf;

}

.typing .bubble{

padding:18px;

}

.dots{

display:flex;

gap:6px;

}

.dots span{

width:10px;

height:10px;

background:#888;

border-radius:50%;

animation:bounce 1s infinite;

}

.dots span:nth-child(2){

animation-delay:.2s;

}

.dots span:nth-child(3){

animation-delay:.4s;

}

@keyframes bounce{

0%,80%,100%{

transform:translateY(0);

}

40%{

transform:translateY(-8px);

}

}

@keyframes fade{

from{

opacity:0;

transform:translateY(15px);

}

to{

opacity:1;

transform:translateY(0);

}

}

::-webkit-scrollbar{

width:5px;

}

::-webkit-scrollbar-thumb{

background:#bbb;

border-radius:10px;

}